<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/components/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/resources/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/components/header-style.css">
    <link rel="stylesheet" href="../static/components/footer-style.css">
    <link rel="stylesheet" href="../static/contact/style.css">    
    <link rel="stylesheet" href="../../static/no-js/contact/no-js-style.css">  
    <script type="application/javascript" src="../static/components/bpRoutes.js"></script>   
    <script type="text/javascript" src="../static/contact/main.js"></script>   
    <script type="text/javascript" src="../static/no-js/contact/no-js-main.js"></script>      
    <link rel="shortcut icon" href="../static/resources/favicon.ico">
    <title>Vēri Z | Kontakti</title>
</head>
<body>

    <!--[if IE]>
            <p>UZMANĪBU! Jūs lietojat novecojušu pārlūkprogrammu, Internet Explorer, kura ir nedroša, un netiek vairs atbalstīta. Lai apskatītu šo vietni, lūdzam izvēlēties citu pārlūkprogrammu.
            <br>
            <br>ATTENTION! You are using an outdated browser, Internet Explorer, that is not secure and is not supported anymore. Please use different browser to view this site.
            <br>
            <br>ВНИМАНИЕ! Вы используете устаревший браузер Internet Explorer, который не является безопасным и больше не поддерживается. Пожалуйста, используйте другой браузер для просмотра этого сайта.
        </p>
    <![endif]-->


    <div class="parent container">
        <div class="info-parent row">
            <div class="info-wrapper col-sm-12 col-md-12">
                <div class="contacts">
                    <div class="phone"><i class="icon bi-telephone-fill"></i>
                        <h3>Tālrunis</h3>
                        <a class="telephone-link" href="tel:+371 26 434 118">
                            <h4>+371 26 434 118</h4>
                        </a>
                        <a class="telephone-link" href="tel:+371 65 134 042">
                            <h4>+371 65 134 042</h4>
                        </a>
                    </div>
                    <div class="ver-line"></div>
                    <a class="email" href="mailto:veriz.serviss@apollo.lv">               
                        <div class="email-content"><i class="icon bi-envelope-fill"></i>
                            <h3>E-pasts</h3>
                                <h4>veriz.serviss@apollo.lv</h4>                            
                        </div>
                    </a>                    
                    <div class="ver-line"></div>
                    <div class="address"><i class="icon bi-geo-alt-fill"></i>
                        <h3>Atrašanās vieta</h3>
                        <h4>Odzienas iela 10, Pļaviņas, LV-5120</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-parent row">
            <div class="info-wrapper col-sm-12 col-md-6 pe-md-3">
                <div class="working-time">
                    <h3>Darba laiks</h3>
                    <div class="working-time-wrapper">
                        <div class="day-wrapper d1">
                            <p >Pirmdiena</p>
                            <hr  >
                            <p >8.30 – 17.30</p>
                        </div>
                        <div class="day-wrapper d2">
                            <p >Otrdiena</p>
                            <hr  >
                            <p >8.30 – 17.30</p>
                        </div>
                        <div class="day-wrapper d3">
                            <p >Trešdiena</p>
                            <hr  >
                            <p >8.30 – 17.30</p>
                        </div>
                        <div class="day-wrapper d4">
                            <p >Ceturtdiena</p>
                            <hr  >
                            <p >8.30 – 17.30</p>
                        </div>
                        <div class="day-wrapper d5">
                            <p >Piektdiena</p>
                            <hr  >
                            <p >8.30 – 17.30</p>
                        </div>
                        <div class="day-wrapper d6">
                            <p >Sestdiena</p>
                            <hr  >
                            <p >Slēgts</p>
                        </div>
                        <div class="day-wrapper d0">
                            <p >Svētdiena</p>
                            <hr  >
                            <p >Slēgts</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-wrapper col-sm-12 col-md-6 ps-md-3">
                <div class="properties">
                    <h3>Rekvizīti</h3>
                    <h5 class="company-name">SIA Vēri Z</h5>
                    <div class="properties-wrapper">
                        <div class="property">
                            <p>Juridiskā adrese:</p>
                            <p>Jaunā iela 22-39, Jēkabpils, LV-5201</p>
                        </div>
                        <div class="property">
                            <p>PVN reģistrācijas numurs:</p>
                            <p>LV45401016423</p>
                        </div>
                        <div class="property">
                            <p>A/S Swedbank, kods:</p>
                            <p>HABALV22</p>
                        </div>
                        <div class="property">
                            <p>Konta Nr.:</p>
                            <p>LV37HABA 0001 40C0 5415 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% extends "no-js/shared/header.html" %}
        {% include "no-js/shared/footer.html" %}
    </body>
</html>