<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/components/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/resources/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/components/header-style.css">
    <link rel="stylesheet" href="../static/components/footer-style.css">
    <link rel="stylesheet" href="../static/news/style.css">    
    <script type="application/javascript" src="../static/components/bpRoutes.js"></script>   
    <script type="text/javascript" src="../static/news/main.js"></script>   
    <script type="text/javascript" src="../static/no-js/news/no-js-main.js"></script>   
    <link rel="shortcut icon" href="../static/resources/favicon.ico">
    <title>Vēri Z | Jaunumi</title>
</head>
<body>
    <noscript>Please enable javascript to continue using this application.</noscript>

    <!--[if IE]>
        <p>UZMANĪBU! Jūs lietojat novecojušu pārlūkprogrammu, Internet Explorer, kura ir nedroša, un netiek vairs atbalstīta. Lai apskatītu šo vietni, lūdzam izvēlēties citu pārlūkprogrammu.
        <br>
        <br>ATTENTION! You are using an outdated browser, Internet Explorer, that is not secure and is not supported anymore. Please use different browser to view this site.
        <br>
        <br>ВНИМАНИЕ! Вы используете устаревший браузер Internet Explorer, который не является безопасным и больше не поддерживается. Пожалуйста, используйте другой браузер для просмотра этого сайта.
    </p>
<![endif]-->

{% block content %}
    <div class="parent container">
        <div class="news-parent row">
            <div class="news-wrapper col">
                <div class="news-container">
                    <div class="news">
                        {% for sale in sales %}
                            <article class="news-component">
                                <h4>{{ sale.header[2:-3] }}</h4>
                                
                                <p class="news-date">{{ sale.date }}</p>  
                                <hr>                              
                                <div class="news-content">
                                    {% if sale.image[2:-3] %}
                                    <img alt="attēls" src="{{ url_for('.display_img', filename=sale.image) }}">                                     
                                    {% endif %}
                                    <p>{{ sale.description|urlize(target="_blank") }}</p>                                      
                                </div>
                            </article>               
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% extends "no-js/shared/header.html" %}
{% include "no-js/shared/footer.html" %}
</body>
</html>




