<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/components/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/resources/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/components/header-style.css">
    <link rel="stylesheet" href="../static/components/footer-style.css">
    <link rel="stylesheet" href="../static/services/style.css">    
    <link rel="stylesheet" href="../static/services/components/sortable/css/sortable-theme-minimal.css" />
    <link rel="shortcut icon" href="../static/resources/favicon.ico">
    <link rel="stylesheet" href="../../static/no-js/services/no-js-style.css"> 
    <script type="application/javascript" src="../static/components/bpRoutes.js"></script>   
    <script type="text/javascript" src="../static/services/main.js"></script>   
    <script type="text/javascript" src="../static/no-js/services/no-js-main.js"></script>   
    <title>Vēri Z | Pakalpojumi</title>
</head>
<body>
    <noscript>Please enable javascript to continue using this application.</noscript>

    <!--[if IE]>
            <p>UZMANĪBU! Jūs lietojat novecojušu pārlūkprogrammu, Internet Explorer, kura ir nedroša, un netiek vairs atbalstīta. Lai apskatītu šo vietni, lūdzam izvēlēties citu pārlūkprogrammu.
            <br>
            <br>ATTENTION! You are using an outdated browser, Internet Explorer that is not secure and is not supported anymore. Please use different browser to view this site.
            <br>
            <br>ВНИМАНИЕ! Вы используете устаревший браузер Internet Explorer, который не является безопасным и больше не поддерживается. Пожалуйста, используйте другой браузер для просмотра этого сайта.
        </p>
    <![endif]-->

    <div class="parent container">
        <div class="apply-parent row">
            <div class="apply-wrapper col">
              <h1>Piedāvājam šādus pakalpojumus</h1>  
            </div>
        </div>
        <div class="table-parent row mx-md-5">
            <div class="table-wrapper col-12 p-3">
                <table class="service-table sortable" data-sortable="" data-sortable-initialized="true">
                    <thead class="table-head">
                        <tr class="table-header">
                            <th data-sorted-direction="descending" data-sorted="true">Pakalpojums</th>
                            <th data-sortable-type="numeric">Cena</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr class="service-row">
                            <td class="service-cell">Bremžu šļauciņas maiņa</td>
                            <td class="price-cell">*no 10.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Bremžu tīrīšana, profilakse</td>
                            <td class="price-cell">*no 20.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Bremžu trubiņu maiņa</td>
                            <td class="price-cell">*no 20.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Datordiagnostika</td>
                            <td class="price-cell">*no 10.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Degvielas filtra maiņa</td>
                            <td class="price-cell">*no 15.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Degvielas sistēmas remonts</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Dzinēja maiņa</td>
                            <td class="price-cell">*no 50.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Dzinēja mazgāšana</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Dzinēja remonts</td>
                            <td class="price-cell">*no 40.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Elektroinstalācijas darbi</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Elektroinstalācijas remonts</td>
                            <td class="price-cell">*no 350.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Eļļas maiņa aizmugures tiltā</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Eļļas maiņa ātrumkārbā</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Eļļas maiņa priekšas tiltā</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Eļļas papildināšana</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Eļļas un eļļas filtra maiņa</td>
                            <td class="price-cell">*no 15.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Gaisa filtra maiņa</td>
                            <td class="price-cell">*no 15.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Gaismu pārbaude, regulēšana</td>
                            <td class="price-cell">*no 15.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Gultņa maiņa</td>
                            <td class="price-cell">*no 3.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Ģenerātora maiņa</td>
                            <td class="price-cell">*no 15.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Ģenerātora remonts</td>
                            <td class="price-cell">*no 10.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Kardāna demontāža - montāža</td>
                            <td class="price-cell">*no 5.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Kardāna remonts</td>
                            <td class="price-cell">*no 25.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Klusinātāja (izpūtēja) maiņa</td>
                            <td class="price-cell">*no 30.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Klusinātāja (izpūtēja) remonts</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Klusinātāja (izpūtēja) skalošana</td>
                            <td class="price-cell">*no 50.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Klusinātāja aizsarga nostiprināšana</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Kondicioniera apkope</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Kondicioniera uzpilde</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Kreisās atsperlāgas maiņa</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Kvēlsveču maiņa</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Kvēlsveču pārbaude</td>
                            <td class="price-cell">*no 30.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Ķīļsiksnas maiņa</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Ķīmiskā tīrīšana</td>
                            <td class="price-cell">*no 50.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Lampiņas maiņa</td>
                            <td class="price-cell">*no 15.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Lodbalstu maiņa</td>
                            <td class="price-cell">*no 5.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Logu apskalotāja remonts</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Logu mehānisma remonts</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Logu slotiņu maiņa</td>
                            <td class="price-cell">*no 3.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Luktura maiņa</td>
                            <td class="price-cell">*no 15.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Lukturu regulēšana</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Metināšanas darbi</td>
                            <td class="price-cell">*no 20.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Motora mazgāšana</td>
                            <td class="price-cell">*no 2.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Paklāju tīrīšana</td>
                            <td class="price-cell">*no 20.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Pievadsiksnu maiņa</td>
                            <td class="price-cell">*no 5.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Priekšas kreisā gultņa maiņa</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Pusass putekļu gumijas maiņa</td>
                            <td class="price-cell">*no 15.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Pusass šarnīra maiņa</td>
                            <td class="price-cell">*no 30.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Pusass žņauga nostiprināšana</td>
                            <td class="price-cell">*no 30.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Riepas balansēšana</td>
                            <td class="price-cell">*no 5.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Riepas montāža un balansēšana</td>
                            <td class="price-cell">*no 1.15 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Riepas remonts</td>
                            <td class="price-cell">*no 4.50 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Riepu disku mazgāšana</td>
                            <td class="price-cell">*no 5.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Riepu kompleksa mazgāšana</td>
                            <td class="price-cell">*no 0.70 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Riepu maiņa</td>
                            <td class="price-cell">*no 10.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Riepu mazgāšana</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Rievsiksnas maiņa</td>
                            <td class="price-cell">*no 0.70 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Riteņu gultņu maiņa</td>
                            <td class="price-cell">*no 15.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Rokas bremzes troses maiņa</td>
                            <td class="price-cell">*no 30.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Sajūga maiņa</td>
                            <td class="price-cell">*no 15.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Salona filtra maiņa</td>
                            <td class="price-cell">*no 150.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Salona tīrīšana</td>
                            <td class="price-cell">*no 10.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Savērsuma regulēšana</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Sprauslu maiņa</td>
                            <td class="price-cell">*no 22.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Sprauslu pārbaude, remonts</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Stabilizatora atsaišu maiņa</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Stabilizatora bukšu maiņa</td>
                            <td class="price-cell">*no 8.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Startera maiņa</td>
                            <td class="price-cell">*no 10.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Startera remonts</td>
                            <td class="price-cell">*no 30.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Stūres pirksta maiņa</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Stūres sistēmas remonts</td>
                            <td class="price-cell">*no 12.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Stūres stieņa maiņa</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Sviru bukšu maiņa</td>
                            <td class="price-cell">*no 16.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Sviru maiņa</td>
                            <td class="price-cell">*no 20.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Tilta bukšu maiņa</td>
                            <td class="price-cell">*no 25.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Transmisijas eļļas maiņa</td>
                            <td class="price-cell">*no 25.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Ūdenssūkņa maiņa</td>
                            <td class="price-cell">*no 10.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Vējstikla maiņa</td>
                            <td class="price-cell">*no 50.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Virsbūves maiņa</td>
                            <td class="price-cell">*no 60.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Virsbūves mazgāšana</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Virsbūves remonts</td>
                            <td class="price-cell">*no 0.01 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Vizuālā diagnostika</td>
                            <td class="price-cell">*no 10.00 €</td>
                        </tr>
                        <tr class="service-row">
                            <td class="service-cell">Zobsiksnas maiņa</td>
                            <td class="price-cell">*no 120.00 €</td>
                        </tr>
                    </tbody>
                </table>
                <div class="disclaimer-wrapper">
                    <p class="disclaimer">Par citiem autoservisa pakalpojumiem zvaniet <a class="disclaimer-link" href="tel:+371 26 434 118">+371 26 434 118</a>
                    </p>
                    <p class="disclaimer">* - Norādītās pakalpojumu cenas ir aptuvenas un atkarīgas no pakalpojumu sarežģītības pakāpes.</p>
                </div>
            </div>
        </div>
    </div>
    {% extends "no-js/shared/header.html" %}
{% include "no-js/shared/footer.html" %}
</body>
</html>