.apply-wrapper{
    text-align: center;
    color: white;
}

.apply-parent{
    margin-bottom: 20px;
}

.table-header{
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    border: 2px solid black;
}

.table-header th{
    border: 2px solid black;
}

.service-cell, .price-cell{
    border: 2px solid black;
    font-size: 18px;
    text-align: center;
}

@media (max-width: 350px) {
    .parent{
        margin-top: calc(127% + 10vw) !important;
    }
}
